<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Libre</title>
    <script src="https://kit.fontawesome.com/1b73392f06.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="main-header">
        <div class="top-bar">
        <img src="/img/logo-mercado-liebre.svg" class="logo">
        <form action="/" method="post" class="barra">
            <input type="text" placeholder="Buscar productos, marcas" class="search-bar"></input>
            <button type="submit" class="boton-search"><i class="fa-solid fa-search" class="boton-search"></i></button>
        </form> 
        <h2 class="copy-header"><i class="fa-solid fa-hand-holding-dollar"></i>compra en cuotas y sin tarjeta de credito</h2>
        </div>
        <div class="hamburger-button">
            <i class="fas fa-bars"></i>
        </div>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href = "#">ofertas</a></li>
                <li><a href = "#">Tienda oficial</a></li>
                <li><a href = "#">vender</a></li>
                <li><a href = "#">ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/register" class="creaCuenta">crear una cuenta<i class="fa-solid fa-id-card"></i></a></li>
                <li><a href = "/loging" class="ingresa">ingresá<i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                <li><a href = "#" class="misCompras">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <article class="banner"><img src="/img/img-home-banner.jpg" ></article>
    </header>
    <main class="main-main">
        <h2 class="seccion">seccion basada en tu ultima compra</h2>
        <ul class="lista-compra">
            <li class="producto">
                <picture class="img-producto"><img src = "/img/img-cafetera-moulinex.jpg" ></picture>
                <section class="articulo">   
                    <div class="camion"><i class="fa-solid fa-truck"></i></div>
                    <p class="precios">$6770</p>
                    <p class="descuento">40% OFF</p>
                    <p class="descripcion">Cafeteria Moulinex</p>
                </section>
            </li>
            <li class="producto">
                <picture class="img-producto"><img src="/img/img-macbook-pro-2019.jpg" ></picture>
                <section class="articulo">
                    <div class="camion"><i class="fa-solid fa-truck"></i></div>
                    <p class="precios">$230.000</p>
                    <p class="descuento">20% OFF</p>
                    <p class="descripcion">Macbook pro 20119</p>
                </section>
            </li>
            <li class="producto">
                <picture class="img-producto"><img src = "/img/img-samsung-galaxy-s10.jpg" ></picture>
                <section class="articulo">
                    <div class="camion"><i class="fa-solid fa-truck"></i></div>
                    <p class="precios">$70.500</p>
                    <p class="descuento">10% OFF</p>
                    <p class="descripcion">Samsung Galaxi s10</p>
                </section>
            </li>
            <li class="producto">
                <picture class="img-producto"><img src = "/img/img-tv-samsung-smart.jpg" ></picture>
                <selection class="articulo">
                    <div class="camion"><i class="fa-solid fa-truck"></i></div>
                    <p class="precios">$23.200</p>
                    <p class="descuento">5% OFF</p>
                    <p class="descripcion">SmartTv Samsung 43"</p>
                </selection>
            </li>
        </ul>        
        <h2 class="seccion">seccion de oferta</h2>
        <ul class="lista-compra">
            <li class= "producto">
                <picture class="img-producto"><img src = "/img/img-cafetera-moulinex.jpg" ></picture>
                <section class="articulo">
                    <div class="camion"><i class="fa-solid fa-truck"></i></div>
                    <p class="precios">$6770</p>
                    <p class="descuento">40% OFF</p>
                    <p class="descripcion">Cafeteria Moulinex</p>
                </section>
            </li>
            <li class= "producto">
                <picture class="img-producto"><img src = "/img/img-macbook-pro-2019.jpg" ></picture>
                <section class="articulo">
                    <div class="camion"><i class="fa-solid fa-truck"></i></div>
                    <p class="precios">$230.000</p>
                    <p class="descuento">20% OFF</p>
                    <p class="descripcion">Macbook pro 20119</p>
                </section>
            </li>
            <li class= "producto">
                <picture class="img-producto"><img src = "/img/img-samsung-galaxy-s10.jpg" ></picture>
                <section class="articulo">
                    <div class="camion"><i class="fa-solid fa-truck"></i></div>
                    <p class="precios">$70.500</p>
                    <p class="descuento">10% OFF</p>
                    <p class="descripcion">Samsung Galaxi s10</p>
                </section>
            </li>
            <li class= "producto">
                <picture class="img-producto"><img src = "/img/img-tv-samsung-smart.jpg" ></picture>
                <selection class="articulo">
                    <div class="camion"><i class="fa-solid fa-truck"></i></div>
                    <p class="precios">$23.200</p>
                    <p class="descuento">5% OFF</p>
                    <p class="descripcion">SmartTv Samsung 43"</p>
                </selection>
            </li>
        </ul>
        <footer>
            <a class="tarjetita"><i class="fa-solid fa-credit-card"></i></a>
            <h3>Paga con tageta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            <a class="regalito"><i class="fa-solid fa-gift"></i></a>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            <a class="seguridad"><i class="fa-solid fa-user-shield"></i></a>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            <h3 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </footer>
</body>
</html>