<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Libre</title>
    <script src="https://kit.fontawesome.com/1b73392f06.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="main-header">
        <div class="top-bar">
        <img src="/img/logo-mercado-liebre.svg" class="logo">
            <form action="/" method="post" class="barra">
                <input type="text" placeholder="Buscar productos, marcas" class="search-bar">
                <button type="submit" class="boton-search"><i class="fa-solid fa-search"></i></button>
            </form> 
        <h2 class="copy-header"><i class="fa-solid fa-hand-holding-dollar"></i>compra en cuotas y sin tarjeta de credito</h2>
        </div>
        <div class="hamburger-button">
            <i class="fas fa-bars"></i>
        </div>
    </header>
<main class="main-loging">
    <div class="loging-data">
        <input type="text" placeholder="Nombre de usuario" class="barra-loging">
        <input type="password" placeholder="contraseña" class="barra-loging">
        <button type="submit" class="button-loging">enviar</button>
    </div>
</main>
<footer>
    <a class="tarjetita"><i class="fa-solid fa-credit-card"></i></a>
    <h3>Paga con tageta o en efectivo</h3>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
    <a class="regalito"><i class="fa-solid fa-gift"></i></a>
    <h3>Envío gratis desde $ 2.500</h3>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
    <a class="seguridad"><i class="fa-solid fa-user-shield"></i></a>
    <h3>Seguridad, de principio a fin</h3>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p>
    <h3 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
</footer>
</body>
</html>