*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main-header{
    display: block;
    background-color: #EAC926;
    padding: 20px
}
.top-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.logo{
    max-width: 50%;
}
.barra {
    display: flex;
    margin: auto;
    align-self:flex-end;
    max-width: 50%;
    background-color: #ffffff;
    border-radius: 10px;
    border-color: #ffffff;
    padding: 5px;
}
.search-bar{
    padding: 1%;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    border-style: hidden;
}
.boton-search{
    background-color: #ffffff;
    border-radius: 10px;
    border-style: hidden;
    color: #666
}
.copy-header{
    display: flex;
    max-width: 100%;
    font-weight: 100px;
    font-size: 20px;
    margin: auto;
}
.banner img {
    max-width: 90%;
    margin-top: 15px;
}
.main-navbar{
    display: none;
}
.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-navbar a {
    text-decoration: none;
    color: #0e0d0d;
    display: inline-block;
    margin: center;
    padding: 5px 0px;
    font-size: 17px;    
} 
.hamburger-button{
    background-color: #1259c3;
    color: #ffffff;
    display: block;
    max-width: 50px;
    padding: 15px 0px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
    margin-top: 20px;
}
body{
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}
.main-main{
    background-color: #ebebeb;
    text-align: center;
    color: #0e0d0d;
}
.seccion{
    color: #666;
    display: block;
    padding: 15px ;
    text-align: left;
    margin-left: 60px;
}
.lista-compra  {
    list-style: none;
    margin: 0;
    padding: 0;
}
.producto {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 40px;
    background-color: #ffffff;
    text-decoration: none;
    color: #0e0d0d;
    padding: 5px 0px;
    font-size: 17px;
}
.img-producto img {
    width: 200px;
}
.articulo {
    text-align: left;
    background-color: #ffffff;
    border-top:solid 1px #ebebeb;
}
.precios  {
    font-size: 18px;
}
.descuento {
    font-size: 16px;
    color: #39b54a;
}
.descripcion {
    font-size: 16px;
    display: none;
}
.camion {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    color:#39b54a;
    background-color: #FFF;
    border-radius: 50%;
}
footer{
    background-color: #ffffff;
    text-align: center;
    color: #666;
}
.tarjetita{
    display: block;
    font-size: 2em;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #1259c3;
}
.regalito{
    display: block;
    font-size: 2em;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #1259c3;
}
.seguridad{
    display: block;
    font-size: 2em;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #1259c3;
}
.copyright{
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}
.main-register {
    background-color: #ebebeb;
}
.control {
    padding: 8px;
    margin: 15px;
    border-radius: 5px;
    border-style: hidden;
}
.datos-usuario {
    display: flex;
    flex-direction: column;
    width: 70%;
}
.datos-nacimiento {
    display: flex;
    flex-direction: column;
    width: 60%;
}
.radio {
    margin: 10px;
}
.intereses{
    max-width: 100px;   
    margin: 20px;
}
.contraseñas{
    width: 285px;
}
.botones{
    padding-bottom:10px ;
}
.main-loging{
    background-color: #ebebeb;
}
.loging-data{
    margin: auto;
    display: flex;
    flex-direction: column;
}
.barra-loging{
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border-style: hidden;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 15px;
}
.button-loging{
    width: 70%;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #1259c3;
    padding: 10px;
    color:#ffffff;
    border-style: hidden;
}
@media (min-width: 768px){
    .top-bar{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo{
        max-width: 30%;
    }
    .barra {
        padding: 0;
        max-width: 30%;
        align-self: flex-start;
        justify-content: center;
    }
    .search-bar{
        padding: 4%;
        background-color: #ffffff;
        border-radius: 10px;
        border-style: hidden;
    }
    .copy-header {
        display: flex;
        max-width: 40%;
        margin-left: 10px;
        align-self: center;
        justify-content: flex-end;
    }
    .hamburger-button{
        display: none;
    }
    .main-navbar{
        display: flex;
        justify-content: space-between;
        
    }
    .main-navbar ul {
        display: flex;
    }
    .main-navbar li {
        margin: 0 10px;
    }
    .descripcion{
        display: flex;
    }
    .lista-compra{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .producto {
        margin: left;
        display: flex;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        max-width: 45%;
    }
    .top-bar{
        display: flex;
    }
    .copy-header{
        margin-inline: right;
    }
}
@media (min-width: 1280px){
    .top-bar, .main-navbar {
        max-width: 1200px;
    }
    .barra{
        width: 70px;
        margin-bottom: 60px;
        margin-top: 40px;
        padding-right: 20px;
        flex-grow: 1;
    }
    .search-bar{
        background-color: #ffffff;
        border-radius: 10px;
        border-style: hidden;
    }
    .lista-compra{
        display: flex;
        
        justify-content: flex-start;
    }
    .producto {
        margin: left;
        display: flex;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        max-width: 23%;
    }
}
